input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 100px;
  height: 50px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

/* The knob (circle) */
label:after {
  content: '';
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

/* Move knob right when checked */
input:checked + label {
  background: grey;
}

input:checked + label:after {
  left: calc(100% - 2.5px);
  transform: translateX(-100%);
}

body {
  transition: all 0.4s ease;
}

/* Light/Dark mode body styling */
body.light-mode {
  background: white;
  color: black;
}

body.dark-mode {
  background: #121212;
  color: white;
}
